A:visited{color=black;TEXT-DECORATION:none}
A:link{color=black;text-decoration:none}
A:hover{color=#EC5E7C;text-decoration: none;position: relative; top: 1.5px; left: 1.5px;}

input {
	font-family: "ו";
	font-size: 9pt;
	background-image: url(input.gif);
	background-position: left top;
	border: 1px solid #ffffff;
	color: #253C15;
}
DIV,FORM,P,TD,BODY,TEXTAREA,SELECT {FONT-SIZE:12px;COLOR:434951;FONT-FAMILY:tahoma,ו;}
BODY {
background-image: url(bg.gif);
background-position: center;
background-repeat:repeat-y;
SCROLLBAR-base-COLOR: #F8F8F8; 
scrollbar-arrow-color: #111111;
}


#TableTitleLink A:link,#TableTitleLink A:visited{COLOR:000000;}
.a1{BACKGROUND-COLOR: FFFFFF;}
.a2{BACKGROUND-COLOR: EEEEEE;}
.a3{BACKGROUND-COLOR: F8F8F8;}
.a4{BACKGROUND-COLOR: FFFFFF;}

.menuskin {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #eeeeee 1px solid;
	BORDER-LEFT: #eeeeee 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-IMAGE: url(menubg.gif);
	POSITION: absolute;
        VISIBILITY: hidden;
        FILTER: alpha(opacity=85)progid:DXImageTransform.Microsoft.Shadow(Color=#999999,Direction=120,strength=4);
}

.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
}
.menuskin A {PADDING-RIGHT:10px;PADDING-LEFT:30px;}
textarea{BACKGROUND:url('inputbg.gif'); }